[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "pelican-themes/Flex"]
	path = pelican-themes/Flex
	url = https://github.com/alexandrevicenzi/Flex
